.logo{
    text-align: left;
    margin-bottom: 0%;
    margin-top: 20%;
    /* display: flex; */
}

.advanture{
    font-size: 20px;
    font-weight: normal;
    margin-top: 0%;
    color: white;
}

.login{
    font-size: 45px;
    font-weight: bolder;
    text-decoration: underline;
    color: #15F5BA;
    margin-bottom: 0%;
    margin-top: 30%;
    background-color: inherit;
}

.account-sign{
    display: flex;
    font-size: small;
    margin-top: 0%;
    color: white;
}

.signup{
    color: #FE76FF;
    text-decoration: underline;
    margin-left: 2%;
    margin-top: 0%;
}


.contact{
    margin-top: 0;
    margin-left: 2%;
    color: white;
}