#login-snow {
    width: 400px;
    height: 200px;
    margin-top: 6rem;
}

.whitten{
    color: white;

}

#login-butt{
    margin: '5px 0';
    /* width: 'auto'; */
    width: 300px;
    max-width: 400px;
    /* align-items: center; */
    /* justify-content: center; */
}